/* ========================================
            SIDEBAR (MENU LATERAL)
======================================== */
.sidebar {
    height: 100vh;
    background-color: #101828;
    background-image: url("../img/fundo1.png");
    background-size: cover;
    background-position: center;
    color: white;
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.sidebar.fechado {
    margin-left: -250px;
}

.sidebar a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #4338ca;
    color: white;
}

/* ========================================
            CONTEÚDO PRINCIPAL & BODY
======================================== */
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-image: url("../img/fundo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.content {
    min-height: 100vh;
}



main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 70px);
}

/* ========================================
            COMPONENTES DA TELA
======================================== */
.header {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.card-form {
    background-color: #fff;
    border: 1px solid rgba(43, 0, 80, 0.3);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.btn-purple {
    background: #5b3df5;
    color: white;
    transition: 0.3s;
}

.btn-purple:hover {
    background: #4328d6;
    color: white;
}

.custom-navbar {
    background-image: url("../img/fundo1.png");
    background-size: cover;
    background-position: center;
    min-height: 80px;
    padding: 12px 30px;
    box-shadow: 0 8px 25px rgba(0,0,0,.35);
    border-bottom: 1px solid rgba(255,255,255,.15);
    color: white;
}
